@media(min-width: 1200px){
    .hidden-lg{
        display: none;
    }
    #marketplaceList >div{
        width: 25%;
    }
    .footerLinks{
        flex-direction: row;
    }
    .hero-section{
        margin-top: 100px;
        padding-top: 150px;
    }
    .itemDetail-section{
        margin-top: 100px;
        padding-bottom:0;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    #mintCount{
        flex-direction: column;
    }
    .service-img-wrapper .image-box{
        margin-top: 0px;
    }
    .group > #checkboxPersonal-error{
        top: 40px;
    }
    #marketplaceList >div{
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
        width: 33%;
    }
    .welcome-content h2 {
        font-size: 42px;
    }
    .timelineBody {
        max-height: 545px;
    }
    .team-member-thumb {
        width: 150px;
    }
    .post-meta p a {
        margin-right: 15px;
    }
    .post-title h4 {
        font-size: 20px;
    }
    .single-team-member {
        padding: 20px;
    }
    .cd-intro.default-title > h2 {
        font-size: 42px;
    }
    .owner-info {
        top: 170px;
        left: 20px
    }
    .pricing-item h3{font-size: 12px}
    .upload-file{
        display: block;


    }
    .modal-buy{
        width: 80%;
    }
    .footerLinks{
        flex-direction: row;
    }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
    #mintCount{
        flex-direction: column;
    }
    .search-widget-area ul {
        width: 200%;

    }
    .group > #checkboxPersonal-error{
        top: 40px;
    }
    .hero-section{
        margin-top: 80px;
    }
    .creator-sec{
        -ms-flex: 0 0 70%;
        flex: 0 0 70%;
        margin-left: auto;
        margin-right: auto;
        padding: 10px 0;
    }
    #marketplaceList >div{
        width: 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
    .modal-buy{
        padding: 40px 10px;
        width: 90%;
    }
    .welcome_area {
        height: 700px !important;
    }
    .welcome_single_slider.height-900 {
        height: 700px;
    }
    .welcome-content h2 {
        font-size: 30px;
    }
    .cta-content h2 {
        font-size: 30px;
    }
    .timelineBody {
        max-height: 640px;
    }
    .price_table_text > h1 {
        font-size: 36px;
    }
    .price_table_text > p,
    .table_text_details > p {
        font-size: 13px;
    }
    .cd-intro.default-title > h2 {
        font-size: 36px;
    }
    .owner-info {
        top: 290px;
        left: 40px
    }

    .pricing-item:before{
        width: 101.8%;
        left:  calc(-1 *(101.8% - 100%) / 2);
    }
    .footerLinks{
        flex-direction: row;
    }
}
@media (min-width: 480px) and (max-width: 768px){
    .search-widget-area ul {
        width: 300%;
    }
    .item-details-box > div{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .welcome-content{margin-top: 30px;}
    .footerLinks{
        flex-direction: row;
    }
    .market-item>.wraper>a>img{
        max-height:159px;
    }
    .owner-info {
        top: 380px;
    }
    .pricing-item:before {
        width: 101.2%;
        left:  calc(-1 *(101.2% - 100%) / 2);
    }
    .single_gallery_item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .dropitem-info{
        font-size: 14px;
    }
    .drop-item-price{
        font-size: 18px;
    }
}
@media (min-width: 0px) and (max-width: 480px){
    .group .error{

    }
    .market-item>.wraper>a>img{
        max-height: none;
    }
    .group > #checkbox-error{
        top: 38px;
    }
    .deposit-container{
        flex-direction: column;
    }
    .btn-deposit{
        padding:10px 15px
    }
    .step-item > p {
        font-size: 12px;
    }
    .step-item > h3{
        font-size: 1.5rem;
    }
    .footerLinks{
        flex-direction: column;
    }
    .editProfileInfo > form *{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 5px;
    }
    .editProfileInfo > form > button{
        flex: 0 0 90%;
        max-width: 90%;
        margin-bottom: 5px;
    }
    .currency-input{
        flex: 0 0 90%;
    }
    .drop-item-content{
        flex-direction: column;
    }
    .drop-item-content > div{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .marketplace-filter{
        flex-direction: column;

    }
    .marketplace-filter > div{
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }
    .search-widget-area ul {
        width: 100%;

    }
    .single_gallery_item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .deposit-container > p{
        font-size: 14px;
    }
    .marketlist-btn{
        margin: 10px 5px 10px auto;
        padding: 0 2px;
    }
    .sidebar-area {
        margin-top: 30px;
    }
    .item-details-box{
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .item-details-box > div{
        flex: 0 0 100%;
        max-width: 100%;
    }
    .welcome-content h1{
        font-size: 32px;
    }
    h1 {
        font-size: 28px;
    }
    .owner-info {
        position: relative;
        top: 0;
        left: 0;
        margin: 15px 0;
    }
    .pricing-item h4{
        margin-top: 20px
    }
    .pricing-item:before {
        width: 101.4%;
        left:  calc(-1 *(101.4% - 100%) / 2);
    }
}

@media (max-width: 991px){
    .mainBox{
       display: none;
    }
    .service-img-wrapper .image-box img{
        width: 100%;
    }
    .navbar-collapse{
        top: -15px;
        position: relative;

    }
    .navbar-collapse > ul{
        align-items: flex-end;
        width: 300px;
        background-color: #4834d4;
        top: -15px;
        border: 1px solid rgba(47,34,120,0.2);
        border-radius: 10px 0 10px 10px;
    }
    .language-picker{
        align-self: auto;
    }
    .boxPremier{
        display: none;
    }
    .language-picker > ul{
        background-color: #4834d4;
        top: 30px;
    }
    .navbar-expand-lg.navbar-dark {background: rgb(215, 223, 239);}
    .service-img-wrapper .image-box{
        margin-top: 30px !important
    }
    .service-img-wrapper .image-box.no-mt{
        margin-top: 0px !important
    }
    .service-img-wrapper .phone-img{
        padding: 0 10% !important
    }
    .service-img-wrapper .image-box .rings {
        left: 9% !important;
        width: 80%;
        z-index: -1
    }
}
@media (min-width: 1024px) {
    .profile-info > div {
        flex: 0 0 80%;
        max-width: 80%;
    }
    .col-lg-6{
        width: 50%;
        float:left;

    }
    .viewdrop-btn{
        margin-right: 0;
    }
    .hero-section{
        margin-top: 100px;
        padding-top: 100px;
    }
    .itemDetail-section{
        margin-top: 100px;
        padding-top:20px;
    }
}
@media(max-width: 1024px){
    .navbar-brand-svg {
        height: 64px;
    }
    .hero-section{
        margin-top: 92px;
    }
    .hero-section.moving{
        background: none;
    }
    .hero-section-content{
        background: none;
    }
    .hero-section.moving{
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .step-item{

    }
    .profile-info > div {
        flex:0 0 100%;
        max-width: 100%;
    }
    .admire > div >div{
        padding-right: 0;
    }
    .admire > div >div:nth-child(1){
        padding-left: 15px;
        flex: 0 0 58.3333%;
    }
    .admire > div >div:nth-child(2){
        padding-left: 0;
        flex: 0 0 41.6666%;
    }
    .putSale-btn{
        font-size: 10px;
        font-weight: normal;
        width: 90%;

    }
    .hidden-md{
        display: none;
    }
    .upload-file{
        display: block;


    }
    .boxPremier-box:before{
        padding-top: 85%;
    }
}
@media only screen and (max-width: 768px) {
    .no-padding-right{
        padding-right: 15px !important
    }
    .no-padding-left{
        padding-left: 15px !important
    }

    .none{
        display: none;
    }
    .group > #checkboxPersonal-error{
        top: 40px;
    }
    .hero-section {
        margin-top: 80px;
    }
    .creator-sec{
        -ms-flex: 0 0 80%;
        flex: 0 0 80%;
        margin-left: auto;
        margin-right: auto;
        padding:10px 0 ;
    }
    #mintCount{
        flex-direction: column;
    }
    .navbar-collapse > ul{
        align-items: flex-end;
    }
    .nav-item .nav-link {
        padding: 0;
        font-size: 20px;
    }

    .account-info{
        padding-top: 0;
    }
    .modal-buy{
        padding: 15px 10px;
        width: 95%;
        flex-direction:column ;
    }
    .modal-buy > div:nth-child(2){
        margin-top: 30px;
    }
    .modal-buy >div{
        flex: 0 0 100%;
        max-width: 100%;
    }

    .deposit-container > p{
        line-height: 18px;
        height:initial;
        font-size: 18px;
    }
    .marketlist-btn{
        width: initial;
    }
    .welcome-content h2 {
        font-size: 24px;
    }
    .welcome-content p {
        font-size: 14px;
    }
    .dream-btn {
        min-width: 130px;
        padding: 0 20px;
        font-size: 10px;
    }
    .single_cool_fact {
        margin-bottom: 50px;
    }
    .classy-navbar {
        height: 60px;
    }
    .who-we-contant h4 {
        font-size: 20px;
    }
    .dropitem-info > .text-white{
        display: flex;
        flex-direction: column;
    }
    .sonar {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    .cta-content h2 {
        font-size: 24px;
    }
    .cta-content p {
        font-size: 14px;
    }

    .our-mission-area {
        height: 1000px !important;
    }
    .section-heading h2 {
        font-size: 24px;
    }
    .post-meta p a {
        margin-right: 15px;
    }
    .post-title h4 {
        font-size: 20px;
    }
    .footer-side-thumbnail {
        width: 100%;
    }
    .welcome_single_slider.height-900 {
        height: 600px;
    }
    .welcome_area.sliders {
        height: 600px !important;
    }
    .cd-intro.default-title > h2 {
        font-size: 24px;
    }
    .welcome_area.animated-headline {
        height: 600px !important;
    }
    .welcome_area.animated-headline {
        height: 600px !important;
    }
    .dream-btn.video-btn {
        min-width: 70px;
        padding: 0;
        font-size: 20px;
    }
    #scrollUp {
        bottom: 100px;
        right: -20px;
    }
    .welcome-video-area {
        margin-top: 0;
    }
    .timelineBody .timeline {
        padding: 1em;
    }

    .footer-copywrite-info {
        text-align: left;
    }
    .breadcumb--con {
        padding-top: 60px;
    }

    .owner-info {
        top: 200px;
    }
}
@media (max-width:550px){
    .navbar-nav{
        color:#fff;
        z-index:1;
    }
    .nav-item .nav-link{
        padding: 0.7em 1em;
        font-size: 100%;
        font-weight: 500;
    }
    .navbar-brand-svg{
        width: 100px;
    }
    .navbar-brand{
        margin: 0;
    }
    .login-btn{
        padding: 0 15px;
        margin-left: 0;
    }
}
@media (max-width:330px) {
    .nav-item .nav-link{
        padding: 0.7em 0;
    }
}
@media (max-width: 992px){
    .mt-s {
        margin-top: 30px !important;
    }
}

@media(max-width: 769px){
    .hidden-sm{
        display: none;
    }
    .about-us-area{
        padding-bottom: 0;
    }

}
@media only screen and (max-width: 768px) {
    .moving{
        padding-top: 0;
    }
    .welcome_area {
        height: 1100px !important;
    }
    .welcome_area.none{
        height: 100vh !important;
    }
    .sonar {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    .welcome-content h2 {
        font-size: 30px;
    }
    .dream-btn {
        min-width: 160px;
        padding: 0 20px;
        font-size: 12px;
    }
    .single-team-member:after {
        width: 50%;
    }
    .main-footer h3{

        margin: 10px 0 5px;

    }
    .main-footer .widgets-section{

        padding: 20px 0 30px;
    }
    .main-footer .about-widget .text {
        margin-bottom: 10px;
    }
    .main-footer .contact-info li .icon {

        margin: 0;

    }
    .main-footer .has-line-center:after{
        margin: 10px auto;
    }
}
@media(max-width: 480px){
    .dropitem-price {
        font-size: 20px;
    }
    .dropitem-info > div{
        margin-bottom: 5px;
    }
    .hidden-xs{
        display: none;
    }
    .timelineBody .timeline .timelineDate p{
        font-size: 12px;
        margin-left: 10px
    }
    .section-padding-50 {
        padding-bottom: 10px;
        padding-top: 10px;
    }
    .welcome-content {
        vertical-align: middle;
        margin-top: 30px;

    }
}


@media only screen and (min-width: 576px) and (max-width: 767px) {
.welcome-content h2 {
font-size: 36px;
}
.dream-btn {
min-width: 160px;
padding: 0 20px;
font-size: 12px;
}
.cd-intro.default-title > h2 {
font-size: 30px;
}
.single-team-member:after {
width: 80%;
}
}


@media (min-width: 0px) and (max-width: 425px){
    .group > #checkboxPersonal-error{
        top: 62px;
    }
}